# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [ ]:
#Your code here
dfk = df
dfk.columns = map(str.lower,dfk.columns)
dfk.columns

In [ ]:
dfk.columns = map(str.strip, dfk.columns)
dfk.columns

# Change the Index to be the Line Names

In [ ]:
dfk = df.set_index('linename')
dfk

In [ ]:
dfk.tail()

# Painstakingly change the index back

In [68]:
dfk['linename'] = dfk.index
dfk.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits,linename
linename,,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,NQR456W
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,NQR456W
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,NQR456W
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,NQR456W
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,NQR456W

In [69]:


dfk.index = range(len(dfk.index))
dfk.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits,linename
0,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,NQR456W
1,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,NQR456W
2,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,NQR456W
3,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,NQR456W
4,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,NQR456W

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [70]:
dfk['Num_Lines'] = dfk['linename'].apply(len)
dfk.tail()

,c/a,unit,scp,station,division,date,time,desc,entries,exits,linename,Num_Lines
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,05:00:00,REGULAR,5554,348,R,1
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,09:00:00,REGULAR,5554,348,R,1
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,13:00:00,REGULAR,5554,348,R,1
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,17:00:00,REGULAR,5554,348,R,1
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,21:00:00,REGULAR,5554,348,R,1

In [71]:
# Your code here

## Write a function to clean a column name.

In [72]:
def clean(col_name):
    cleaned = col_name.strip()
    return cleaned

In [73]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
dfk.columns = [clean(col) for col in dfk.columns]

In [74]:
#Checking the output, we can see the results.
dfk.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

## Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
#Your code here
dfk['time']=pd.to_datetime(dfk['time'])
dfk.head()

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [ ]:
# Your code here